= #@what.inspect
-if true
  -title "Value" 
  #edited
  - if @what.response[:hash][:value] && @what.response[:hash][:value].empty?
    = values_root(@what.response[:hash][:value])
    
  -elsif  @what.response[:hash][:values]  && !@what.response[:hash][:values].empty?
    = values_root(@what.response[:hash][:values])
          
  - else
    %h5
      New's to me!
      Don't recognize
      = @what.response[:query]
   
          
