%fieldset.index-list
  %legend
    <%= plural_table_name.titleize %>
    %span.action-links
      = link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path
      <!--  model_breadcrumbs   -->

  %table
    %tr.list-header
  <% for attribute in attributes -%>
    %th <%= attribute.human_name %>
  <% end -%>
    %th Actions

    - altswitch = false
    - @<%= plural_name %>.each do |<%= singular_name %>|
      - altswitch = !altswitch
      - altclass = altswitch ? "" : "alt"
      %tr{:class => altclass}
  <% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
  <% end -%>
      %td= action_links(<%= singular_table_name %>)


